* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    nav {

        a {
            color: white;
            text-decoration: none;
            margin-left: 1rem;
        }
    }
}

main {
    margin: 1rem 0;

    h1 {
        margin-bottom: 1rem;
    }
}